@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.25;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.25rem;
}

a {
	text-decoration: underline;
}

input,
.Results {
	max-width: calc(100vw - 1rem);
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: disc;
	padding-right: 1rem;
	padding-left: 2rem;
}

.BinaryTable th,
.BinaryTable td {
	border: 1px solid;
	text-align: center;
	width: 10%;
}

.BinaryTable td.selected {
	background-color: #ffff00;
}
